body {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  margin: 0 !important;
  padding: 0 !important;
}



* {
  box-sizing: border-box;
}

body {
  background-color: #E5E5E5;
}

header {
  position: fixed;
  color: white;
  width: 98%;
  text-align: center;
  height: 650px;
  overflow: hidden;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-position: center;
  object-fit: cover;
  filter: blur(3px);
  transform: scale(1.04);
}
video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-image: url(desert.jpg);
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.3); /* set the transparency to 30% */
}


#shapka{
  width: 1180px;
}
#b-logo{
  float: left;
  width: 190px;
  margin-right: 15px;
}
nav a{
  text-decoration: none;
}
#navbar, nav a{
padding: 0;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 22px;
text-transform: uppercase;
color: #fff;
height: 22px;

}

.dropdown:hover .dropdown-menu {
display: block;
margin-top: 0;

}
.dropdown-menu {
top: 21px;
left: -1px; 
background-color: #F14D34;
border-radius: 0 !important;
}
#dm2{
width: 100px;
}
.dropdown-item{
color: white;
}
.dropdown-menu a:hover {
background-color: #D13018;
color: white;

}

#navbar .ul-li{

margin-right: 30px;

}
.b-container{
margin-top: 30px;
}
a:hover{color:white;}
#navbar li.ul-li:hover{


border-bottom:#F14D34 solid 3px;
}